.env
.devcontainer
.vscode/
backend/app/app/uploaded_files
uploaded_files
backups
acme.json
tiles
redis
.vscode/*
!.vscode/ecoteka.code-snippets
!.vscode/settings.json
!.vscode/i18n-ally-custom-framework.json
.expo
data.ms