{
  "plugins": [
    "@semantic-release/commit-analyzer",
    "@semantic-release/release-notes-generator",
    ["@semantic-release/exec", {
      "verifyReleaseCmd": "echo ${nextRelease.version} > VERSION"
    }],
    "@semantic-release/changelog",
    ["@semantic-release/git", {
      "assets": ["VERSION", "CHANGELOG.md"], 
      "message": "chore(release): ${nextRelease.version} [skip ci]\n\n${nextRelease.notes}"
    }],
    "@semantic-release/gitlab"
  ],
  "branches": ["master"],
}
